.files {
  width: 100%;
  height: 100%;
  background-color: #202124;
  overflow: scroll;
  white-space: nowrap;

  ul {
    height: 100%;
    width: fit-content;
  }

  &__item {
    flex-direction: column;
    align-items: flex-start !important;

    * {
      margin: 0;
      padding: 0 !important;
    }
  }

  &__folder {
    margin-left: 15px !important;
  }

  &__summary {
    display: flex;
    align-items: center;
    > svg {
      margin-right: 10px;
    }
  }
}