.files {
  width: 100%;
  height: 100%;
  overflow: scroll;
  white-space: nowrap;

  &__file {
    &--open {
      border-right: 4px solid #65cdc4;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .file {
    button {
      padding-left: 10px;
    }

    svg {
      margin-right: 0;
    }
  }

  ul {
    height: 100%;
    min-width: max-content;

    li {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 0;
    }
  }

  &__item {
    flex-direction: column;
    align-items: flex-start;

    * {
      margin: 0;
      padding: 0;
    }
  }

  &__folder {
    margin-left: 15px;
  }

  &__summary {
    display: flex;
    align-items: center;
    width: 100%;

    > svg {
      margin-right: 10px;
    }

    button {
      text-transform: none;
      width: 100%;
      text-align: start;
    }
  }
}