.header {
  &__navigation {
    display: flex;
    justify-content: space-between;

    &--home {
      margin-right: 10px;
    }

    &__title {
      flex-grow: 1;

      &::first-letter {
        color: #40C4FF;
        font-size: 27px;
        font-weight: 900;
      }
    }
  }
}
